@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  min-width: 0;
  font: inherit;
  text-decoration: none;
  list-style:none;
  margin:0 auto;
  padding: 0;
}

body {
  min-height: 100dvh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
}

*,*::before,*::after{
  box-sizing: border-box;
}

a:visited{
  color: black;
}
a:hover{
  cursor: pointer;
}

p{
  text-wrap: stable;
}
h1,h2,h3,h4,h5,h6{
  text-wrap: balance;
}

img,video,svg{
  display: block;
  height: auto;
  max-width: 100%;
}